<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="main" xsi:type="File" fileName="logs/${logger}/${shortdate}.txt"
        layout="${longdate}|${level:uppercase=true}|${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="main" />
    <logger name="Main" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Warning" writeTo="console" />
  </rules>
</nlog>